@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');

@font-face {
    font-family: "Montserrat";
    src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');
}

/* Обнуление стилей */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

*,*:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

header, footer, nav {
    display: block;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

div {
    transition: 0.2s;
}

h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 400;
}

input {
    outline: none;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

button {
    cursor: pointer;
}

a, a:visited, a:hover {
    text-decoration: none;
}

img {
    vertical-align: none;
}

ul li {
    text-decoration: none;
}

/* Основное */

:root {
    --white: #ffffff;
    --almost-white: #fbfbfb;
    --feature-color-lighter: #74C5FF;
    --feature-color: #32A9FF;
    --grey: #BBBBBB;
    --light-grey: #D9D9D9;
    --lighter-grey: #E9E9E9;
    --almost-white-grey: #EDEDED;
    --dark-grey: #888888;
    --box-shadow-color: #6B6B6B;
}

.container {
    max-width: 1366px;
    margin: 0 auto;
}

body {
    background: var(--almost-white);
}

header {
    height: 95px;
    background: var(--white);
}

.header_main_content {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    height: 70px;
    padding: 0 30px;
}

.account_button {
    font-size: 18px;
    margin: 0 30px;
    font-weight: 600;
    color: var(--feature-color);
}

.account_button:hover {
    cursor: pointer;
    text-decoration: underline;
}

.user_info  {
    display: flex;
    align-items: center;
}

.user_notification {
    position: relative;
}

.user_notification:hover {
    cursor: pointer;
}

.user_notification div  {
    font-size: 30px;
}

.user_notification span {
    position: absolute;
    bottom: 15px;
    left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 300;
    color: white;
    border-radius: 30px;
    background: var(--feature-color);
    width: 24px;
    height: 24px;
}

.user_name {
    font-size: 18px;
    margin-left: 20px;
    margin-right: 15px;
    font-weight: 600;
    text-transform: uppercase;
}

.categories {
    display: flex;
    justify-content: space-evenly;
    margin: 55px 0;
}

.posts_content {
    display: flex;
    justify-content: space-evenly;
}

.posts_container {
    width: 870px;
}

.no_posts {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.no_posts div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    font-weight: 400;
    width: 820px;
    height: 200px;
    box-shadow: 4px 5px 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    background: white;
}

.filters {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    padding: 25px 30px;
    border-radius: 20px;
    background: var(--white);
    box-shadow: 4px 5px 5px rgba(0, 0, 0, 0.25);
}

.price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.price h1, .posted h1 {
    font-weight: 500;
}

.price_minmax {
    display: flex;
    margin: 15px 0;
}

.price_min {
    display: flex;
}

.price_min input, .price_max input {
    border-radius: 0;
    border-left: none;
    width: 80px;
    padding-left: 3px;
    font-weight: 500;
    font-size: 18px;
}

.price_min input:focus, .price_max input:focus {
    border: 2px solid var(--grey);
    border-left: none;
}

.price_max {
    display: flex;
}

.price_max input {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.price_from, .price_to {
    display: block;
    padding: 0 5px;
    padding-top: 7px;
    background: var(--white);
    border: 2px solid var(--grey);
    border-right: none;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    height: 35px;
    font-weight: 500;
    font-size: 18px;
}

.price_to {
    border-left: none;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.posted {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.posted h1 {
    margin-top: 15px;
}

.posted_filters {
    margin-top: 15px;
    padding: 0 10px;
}

.posted_setting {
    display: flex;
    align-items: center;
    margin: 13px 0;
    font-size: 18px;
    font-weight: 400;
}

.posted_setting p  {
    margin-left: 10px;
}

.expanded_search {
    font-size: 16px;
    font-weight: 600px;
    color: var(--feature-color);
    margin-top: 22px;
}

.expanded_search:hover {
    cursor: pointer;
    text-decoration: underline;
}

.expanded_search span {
    margin-left: 7px;
}

.post {
    display: flex;
    justify-content: space-between;
    background: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 4px 5px 5px rgba(0, 0, 0, 0.25);
}

.post a:visited {
    color: black;
}

.post_main {
    width: 443px;
}

.post_info h2 {
    color: #000000;
    font-weight: 600;
    margin: 20px 0 ;
}

.post_info:hover h2 {
    text-decoration: underline;
}

.post_info p {
    font-size: 17px;
    line-height: 1.2em;
    color: var(--text-description-color);
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.post_price {
    font-weight: 500;
    font-size: 25px;
    margin-top: 35px;
}

.post_additional {
    display: flex;
    flex-direction: column;
    width: 320px;
}

.post_username {
    font-size: 25px;
    margin-top: 10px;
}

.post_additional-user {
    text-align: center;
    padding: 0 32px;
    padding-bottom: 16px;
    border-bottom: 1px solid var(--grey);
}

.post_additional-user:hover .post_username {
    text-decoration: underline;
}

.post_additional-user img {
    width: 70px;
}

.isOnline, .post_additional-date p {
    font-size: 18px;
    margin: 8px 0;
}

.isOnline {
    display: flex;
    align-items: center;
    justify-content: center;
}

.isOnline span {
    display: inline-block;
    background: var(--grey);
    width: 10px;
    height: 10px;
    border-radius: 30px;
    margin-right: 5px;
}

.post_user-registered {
    font-size: 16px;
}

.post_additional-details {
    padding: 11.5px 26px;
    border-bottom: 1px solid var(--grey);
}

.post_additional-details ul {
    list-style: none;
    color: var(--text-description-color);
}

.post_additional-details li {
    margin: 10px 0;
    font-size: 16px;
}

.post_user-registered span, 
.post_additional-details li span,
.post_additional-date span {
    font-weight: 600;
}

.post_additional-date {
    padding: 32px 26px;
}

.post_additional-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.post_additional-buttons :nth-child(n) {
    font-size: 13px;
    padding: 10px 10px;
    width: 150px;
}