/*Элементы*/

:root {
    --white: #ffffff;
    --feature-color-lighter: #74C5FF;
    --feature-color: #32A9FF;
    --grey: #BBBBBB;
    --light-grey: #D9D9D9;
    --lighter-grey: #E9E9E9;
    --almost-white-grey: #EDEDED;
    --dark-grey: #888888;
    --text-description-color: #555555;
    --box-shadow-color: #6B6B6B;
    --slider-announcement-width: 443px;
    --slider-announcement-height: 265px;
    --slider-accountPage-width: 300px;
    --slider-accountPage-height: 225px;
    --slider-announcement-page-width: 729px;
    --slider-announcement-page-height: 450px;
    --slider-createAnnouncement-width: 443px;
    --slider-createAnnouncement-height: 265px;
    --container-width: 0px;

    --checkmark-color: #32A9FF;
}


.disabled {
    display: none;
}

.loader_wrapper {
    display: flex;
    background: white;
    opacity: 0.9;
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    z-index: 1000;
}

.loader {
    position: fixed;
    top: 45%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 15px solid #c1e5ff;
    border-top: 15px solid var(--feature-color);
    animation: loading 0.7s infinite linear;
}

.postsLoader_wrapper {
    position: absolute;
    display: flex;
    background: white;
    opacity: 0.9;
    width: 101%;
    margin-top: 30px;
    border-radius: 20px;
    height: 99%;
    justify-content: center;
    z-index: 5;
}

@keyframes loading {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}

.button_default, .button_disabled {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    text-transform: uppercase;
    height: fit-content;
    color: var(--white);
    font-weight: 600;
    font-size: 14px;
    background: var(--feature-color);
    border: 3px solid var(--feature-color);
    border-radius: 5px;
    padding: 10px 20px;
    transition: 0.2s;
}

.button_default-reversed {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    text-transform: uppercase;
    height: fit-content;
    color: var(--feature-color);
    font-weight: 600;
    font-size: 16px;
    background: var(--white);
    border: 3px solid var(--feature-color);
    border-radius: 5px;
    padding: 10px 30px;
    transition: 0.2s;
}

.button_default-reversed:hover {
    cursor: pointer;
    color: var(--white);
    background: var(--feature-color);
}

.button_default-reversed .symbol-left {
    margin-right: 7px;
}

.button_default:hover {
    cursor: pointer;
    background: var(--white);
    color: var(--feature-color);
}

.button_disabled {
    background: var(--dark-grey);
    border: 3px solid var(--dark-grey);
}

.button_disabled:hover {
    cursor: not-allowed;
}

.button_underlined {
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 5px;
    border-bottom: 6px solid var(--light-grey);
}

.button_underlined-active {
    border-bottom: 6px solid var(--feature-color);
}

.button_underlined:hover {
    cursor: pointer;
    border-bottom: 6px solid var(--feature-color);
}

/*Инпуты*/

.input_default, .dropdown_item {
    height: 35px;
    font-size: 20px;
    font-weight: 500;
    padding: 5px 8px;
    border: 2px solid var(--grey);
    outline: none;
    border-radius: 5px;
}

.input_default:focus {
    color: #000000;
    border: 2px solid var(--dark-grey);
}

/* Дроп-меню */

.dropdown_menu {
    position: relative;
}

.dropdown_input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: var(--dark-grey);
    transition: 0s;
}

.dropdown_input :last-child {
    transition: 0.2s;
}

.dropdown_menu[data-dropdown-opened="1"] .dropdown_input {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.dropdown_input:hover {
    cursor: pointer;
}

.dropdown_item {
    display: flex;
    align-items: center;
    background: var(--white);
    border-radius: 0;
    border-top: none;
}

.dropdown_item:hover {
    cursor: pointer;
    background: var(--light-grey);
}

.dropdown_sections {
    position: absolute;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 2;
    width: 100%;
    box-shadow: 4px 5px 5px rgba(0, 0, 0, 0.25);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.dropdown_sections::-webkit-scrollbar {
    width: 8px; 
    background-color: #f5f5f5;
  }
  
.dropdown_sections::-webkit-scrollbar-thumb {
    background-color: var(--feature-color); 
  }
  
.dropdown_sections::-webkit-scrollbar-thumb:hover {
    background-color: var(--feature-color-lighter); 
  }

.dropdown_sections :last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* Звёздочки рейтинга */

.rating_stars, 
.userReview .rating_stars {
    display: flex;
    width: fit-content;
    flex-direction: row-reverse;
}

.rating_star, 
.userReview .rating_star {
    display: flex;
    width: fit-content;
    font-size: 25px;
    color: var(--light-grey);
}

.userReview .rating_star:hover,
.userReview .rating_star:hover ~ .rating_star {
    cursor: pointer;
    color: var(--feature-color);
}

.rating_stars[data-total-value="1"] .rating_star:nth-child(n + 5), 
.rating_stars[data-total-value="2"] .rating_star:nth-child(n + 4), 
.rating_stars[data-total-value="3"] .rating_star:nth-child(n + 3),
.rating_stars[data-total-value="4"] .rating_star:nth-child(n + 2),
.rating_stars[data-total-value="5"] .rating_star:nth-child(n + 1) {
    color: var(--feature-color);
}

/* Чекбоксы */

.checkbox_default, .checkbox_circle {
    position: relative;
    width: 26px;
    height: 26px;
}

.checkbox_default :hover, .checkbox_circle :hover, .checkbox_switcher :hover {
    cursor: pointer;
}

.checkbox_default input, .checkbox_circle input, .checkbox_switcher input {
    position: absolute;
    opacity: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.checkbox_background, .checkbox-circle_background, .checkbox-switcher_background {
    width: inherit;
    height: inherit;
    background: var(--white);
    border: 2px solid var(--lighter-grey);
    border-radius: 3px;
}

.checkbox_default input:checked~.checkbox_background::after {
    display: block;
    position: absolute;
    left: 8px;
    top: 2px;
    content: '';
    width: 10px;
    height: 18px;
    transform: rotate(42deg);
    border-bottom: 3.8px solid var(--feature-color);
    border-right: 3.8px solid var(--feature-color);
}

.checkbox-circle_background, .checkbox-switcher_background {
    border-radius: 100px;
}

.checkbox_circle input:checked~.checkbox-circle_background::after {
    content: '';
    position: absolute;
    top: 5px;
    right: 5px;
    display: block;
    background: var(--feature-color);
    width: 16px;
    height: 16px;
    border-radius: 100px;
}

.checkbox_switcher {
    position: relative;
    width: 52px;
    height: 26px;
}

.checkbox-switcher_background {
    border: 2px solid var(--feature-color);
}

.checkbox-switcher_background::after {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    display: block;
    background: var(--feature-color);
    border: 1px solid var(--feature-color);
    width: 24px;
    height: 24px;
    border-radius: 100px;
    transition: 0.2s;
}

.checkbox_switcher input:checked~.checkbox-switcher_background {
    background: var(--feature-color);
}

.checkbox_switcher input:checked~.checkbox-switcher_background::after {
    transform: translate(26px, 0);
    background: var(--white);
    border: 1px solid var(--feature-color);
}

/* Счётчики */

.counter_default {
    display: flex;
    border: 2px solid var(--feature-color);
    border-radius: 5px;
    width: 90px;
    height: 35px;
}

.counter-default_button {
    color: var(--feature-color);
    font-size: 25px;
    font-weight: 500;
    background: var(--almost-white-grey);
}

.counter-default_button:hover {
    cursor: pointer;
    background: var(--light-grey);
}

.counter-default_count {
    font-size: 16px;
    font-weight: 500;
}

.counter_default :first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.counter_default :last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.counter_default :nth-child(n+1), 
.counter_default :nth-child(n+2),
.counter_default :nth-child(n+3) {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 35px;
    height: 100%;
}

/* Всплывающее окошко */

.popupBody {
    position: fixed;
    z-index: 1002;
    width: 100%;
    height: 100%;
}

.popupBackground {
    width: 100%;
    height: 100%;
    position: fixed;
    background: #000;
    opacity: 0.3;
    z-index: 1000;
    animation-name: toVisible;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.popupContent {
    /* width: fit-content;
    height: fit-content; */
    position: absolute;
    background: #fff;
    padding: 15px;
    z-index: 1001;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    /* box-shadow: #656464 11px 12px 12px; */
    animation-name: displayModal;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

.popupHeader {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 0 3px;
    padding-bottom: 5px;
    /* border-bottom: 1px solid #cdcdcd; */
}

.popupMain {
    height: fit-content;
    margin-top: 10px;
    max-height: 100%;
}

.popupMain::-webkit-scrollbar {
    width: 5px;
}

.popupMain::-webkit-scrollbar-track {
    background: none;
}

.popupMain::-webkit-scrollbar-thumb {
    background: #cdcdcd;
    border-radius: 10px;
}

.popupMain::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
    background: #a0a0a0;
}


.modal-btn {
    font-size: 15px;
    background: none;
    border: none;
    padding: 3px;
    padding-top: 0;
    height: 0;
}

.modal-btn:hover {
    cursor: pointer;
    color: #7b7b7b;
}

@keyframes displayModal {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        opacity: 1;
        top: 50%;
    }
}

@keyframes toVisible {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.3;
    }
}

/* Всплывабщее сообщение */

@keyframes messageStripe {
    from {
        width: 100%;
    }
    to {
        width: 0px;
    }
}

.animatedMessage {
    position: fixed;
    font-weight: 500;
    font-size: 16px;
    top: 35px;
    left: 15px;
    z-index: 1010;
}

.messageContent {
    display: flex;
    padding: 10px;
}

.animatedMessage span {
    margin-right: 10px;
}

.messageDurationStripe {
    width: 100%;
    height: 5px;
    animation-name: messageStripe;
    animation-duration: 6s;
    animation-timing-function: linear;
}

.messageDurationStripeOneSecond {
    width: 100%;
    height: 5px;
    animation-name: messageStripe;
    animation-duration: 1s;
    animation-timing-function: linear;
}

/* ГАЛОЧКА */

.checkmark_wrapper {
    width: 200px;
    height: 200px;
    position: relative;
}

.checkmark_wrapper::after {
    content: "";
    display: block;
    border: 6px solid #c3c3c3;
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.checkmark_wrapper::before {
    content: "";
    display: block;
    border: 6px solid transparent;
    border-left-color: var(--checkmark-color);
    position: absolute;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    transition: 0.2s;
    animation: circle linear forwards 1s;
}

.checkmark {
    width: 100px;
    height: 50px;
    opacity: 0;
    border-left: 6px solid var(--checkmark-color);
    border-bottom: 6px solid var(--checkmark-color);
    transform-origin: left top;
    transform: rotate(-50deg);
    position: absolute;
    left: 25%;
    top: 55%;
    animation: checkmark linear forwards 1s;
}

@keyframes circle {
    0% {
        border-color: transparent;
        border-left-color: var(--checkmark-color);
    } 
    90% {
        transform: rotate(-360deg);
        border-color: transparent;
        border-left-color: var(--checkmark-color);
    }
    100% {
        transform: rotate(-360deg);
        border-color: var(--checkmark-color);
    }
}

@keyframes checkmark {
    0% {
        width: 0;
        height: 0;
        opacity: 0;
    }
    80% {
        width: 0;
        height: 0;
        opacity: 0;
    }
    90% {
        width: 0;
        height: 50px;
        opacity: 1;
    }
    100%{
        width: 100px;
        height: 50px;
        opacity: 1;
    }
}